<!--DOCTYPE html-->
<!--Lesson 2: Step 3: Render dynamic data using Jinja template tags -->

<div class="row border-bottom" style="margin-bottom:16px; padding-bottom:8px;">
    <div class="col-9"> <!--Give more space for the open positions -->
      <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
        {{openposition['title']}}
      </h4>
      
      <div><b>Location: </b>
        {{openposition['location']}}
      </div>
      
      {% if 'salary' in openposition %}
        <div><b>Salary: </b>
          {{openposition['salary']}}
        </div>
      {% endif %}
    </div>
  
    <div class="col-3">
      <!--<button type="button" class="btn btn-outline-primary">Apply</button>-->
      <!--<a href="mailto:suganya.au@gmail.com?subject=Application for {{openposition['title']}}" type="button" class="btn btn-outline-primary">Apply</a>-->
      <a href="mailto:suganya.au@gmail.com?subject=Questions%20about%20Career%20Openings&body=%3CYour%20name%20here%3E%0D%0A%3CUpload%20your%20resume%20here%3E" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>