<!--Contains navigation bar, took the code from bootstrap site-->
<!--Lesson 2: Step 4: Add a Navbar and Footer from Bootstrap -->
<!--Added shadow-sm to show a shadow(thin grey line) under the navbar, fixed-top to fix the top (B image and Jovian), bg-white to not hide the remaining data with B image and Jovian. Also, added div style="height:56px" to scroll the page without any issues-->
<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Jovian
    </a>
  </div>
</nav>
<div style="height:56px">
</div>